body {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#1d1d1d;
	background-size:16px 16px;
	background-attachment: fixed;
	color: #fff;
}

a {
  color: #c83127;
}

a:hover {
	color: #ff0000;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: #c83127;
	font-weight: bold;
}

pre, code {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.7);
}

/* Panels */

.panel-default {
	background-color: rgba(150, 150, 150, 0.1);
	border-color: rgba(150, 150, 150, 0.1);
}

.panel-default .panel-heading {
	color: #eee;
	background-color: rgba(150, 150, 150, 0.1);
	border-color: rgba(150, 150, 150, 0.1);
}

.panel-primary {
	background-color: rgba(50, 120, 180, 0.1);
	border-color: rgba(50, 120, 180, 0.1);
}

.panel-primary .panel-heading {
	color: #eee;
	background-color: rgba(50, 120, 180, 0.1);
	border-color: rgba(50, 120, 180, 0.1);
}

.panel-danger {
	background-color: rgba(180, 50, 50, 0.1);
	border-color: rgba(180, 50, 50, 0.1);
}

.panel-danger .panel-heading {
	color: #eee;
	background-color: rgba(180, 50, 50, 0.1);
	border-color: rgba(180, 50, 50, 0.1);
}


.panel-warning {
	background-color: rgba(255, 180, 0, 0.1);
	border-color: rgba(255, 180, 0, 0.1);
}

.panel-warning .panel-heading {
	color: #eee;
	background-color: rgba(255, 180, 0, 0.1);
	border-color: rgba(255, 180, 0, 0.1);
}

.panel-success {
	background-color: rgba(50, 180, 50, 0.1);
	border-color: rgba(50, 180, 50, 0.1);
}

.panel-success .panel-heading {
	color: #eee;
	background-color: rgba(50, 180, 50, 0.1);
	border-color: rgba(50, 180, 50, 0.1);
}

.panel-success a { color: #27C854; }
.panel-success a:hover { color: #5BFF27; }
.panel-success h1, .panel-success h2, .panel-success h3, .panel-success h4 { color: #27C854; }


a.solved {
	color: #27C854;
}

a.open {
	color: #eee;
}

a.locked {
	color: gray;
}

/* HIGHLIGHT */

.hl.num { color:#b07e00; }
.hl.esc { color:#ff00ff; }
.hl.str { color:#bf0303; }
.hl.pps { color:#818100; }
.hl.slc { color:#838183; font-style:italic; }
.hl.com { color:#838183; font-style:italic; }
.hl.ppc { color:#008200; }
.hl.opt { color:#ffffff; }
.hl.ipl { color:#0057ae; }
.hl.lin { color:#555555; }
.hl.kwa { color:#ffffff; font-weight:bold; }
.hl.kwb { color:#0057ae; }
.hl.kwc { color:#ffffff; font-weight:bold; }
.hl.kwd { color:#010181; }

textarea {
   font-family: monospace;
   width: 100%;
   color: black;
}
button {
   color: black;
}


.lint-error {font-family: arial; font-size: 70%; background: #ffa; color: #a00; padding: 2px 5px 3px; }
.lint-error-icon {color: red; padding: 0 3px; margin-right: 7px;}
