body {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#1d1d1d;
	background-size:16px 16px;
	background-attachment: fixed;
	color: #fff;
}

a {
  color: #c83127;
}

a:hover {
	color: #ff0000;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: #c83127;
	font-weight: bold;
}

pre, code {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.7);
}

header { margin: 15px 0; }
header img {
	padding: 10px;
	float: left;
}
header h1, header h2 { display: none; }

footer {
	margin-top: 30px;
	text-align: center;
}

.menu {
	border-top: 6px solid #47CA42;
	background-color: #0d8921;
}

.menu .navbar-brand, .menu a { }
.menu .navbar-nav>.active>a, .menu .navbar-nav>li>a:hover { background-color: #47CA42; }

.sidebar { margin-top: 20px; }

.summary a { color: #333; }
.summary a:hover { text-decoration: none; }
.summary a:hover, .summary li:active>a { color: #428bca; }
.summary li { padding: 2px 0; font-weight: bold }
.summary li li { font-size: 13px;}
.summary li li li { font-size: 12px; font-weight: normal }

.breadcrumb { margin-top: 20px; }

.trail {
	list-style-type: none;
	color: #838183;
	text-align: center;
}

.trail li{
	display: inline;
}

.trail li+li:before{
	content: " | ";
}



/* HIGHLIGHT */

.hl.num { color:#b07e00; }
.hl.esc { color:#ff00ff; }
.hl.str { color:#bf0303; }
.hl.pps { color:#818100; }
.hl.slc { color:#838183; font-style:italic; }
.hl.com { color:#838183; font-style:italic; }
.hl.ppc { color:#008200; }
.hl.opt { color:#ffffff; }
.hl.ipl { color:#0057ae; }
.hl.lin { color:#555555; }
.hl.kwa { color:#ffffff; font-weight:bold; }
.hl.kwb { color:#0057ae; }
.hl.kwc { color:#ffffff; font-weight:bold; }
.hl.kwd { color:#010181; }

textarea {
   font-family: monospace
}